*.gz
*.iml
*.log
*.rar
*.tar
*.zip
.DS_Store
.docz
.history
.idea
.mre
.mrirc.ts
.mritemp
.project
.umi
.umi-production
.vscode
/package.json
Thumbs.db
__MACOSX/
bridges
demoapp
dist
editGitInfo.sh
mrerc.ts
node_modules
package.json
pages
projects/*/package.json
projects/*/src/layouts
tmp
typings
vscode
yarn-error.log
yarn.lock